<!--
  Generated template for the OnlineCustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <my-nav [title]="title" [showHead]="showUserImg" [showMenu]="showMenu" (cartClick)="cart()" (settingsClick)="settings()" (chatbubblesClick)="chatbubbles()"></my-nav>

  
  <div class="product-list-top">
    <div class="product-list-content">
      <input type="search" placeholder="请输入会员姓名/手机号" (change)="search()" [(ngModel)]="text">
      <div class="search" (click)="search()">
        <img src={{search_img}} alt="">
      </div>
    </div>
  </div>

</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of listCustomer">
      <div *ngIf="item.list!=''">
        <ion-list-header class="list-header">
          {{item.key}}
        </ion-list-header>
        <div class="big" *ngFor="let i of item.list">
          <input type="radio" name="radio" (click)="pushList(i)">
          <ion-item>         
            <ion-label>
              <img [src]="i.avatar" alt="" *ngIf="i.avatar" class="mail-img">
              <img src="{{avatar_img}}" alt="" *ngIf="!i.avatar" class="mail-img">
              <div class="mail-content">
                <p>{{i.username}}</p>
                <p>{{i.returnTel}}</p>
              </div>
            </ion-label>          
          </ion-item>
      </div>
      </div>
    </div>
  </ion-list>
</ion-content>


<ion-footer (click)="trues()">保存</ion-footer>