page-edit {
    ion-content {
        .select .select-icon .select-icon-inner {
            border: 0;
            background: url('../assets/icon/xsjx.png')
        }
        .item.item-block .item-inner {
            border-bottom: 0;
        }
        .item-block {
            min-height: 0;
            line-height: 1rem;
        }
        .information {
            padding: 1rem 1rem 0 1rem;
            overflow: hidden;
            clear: both;
            img {
                width: 1.8rem;
                height: 1.8rem;
                margin-right: .3rem;
            }
            .title-main {
                width: 100%;
                height: 1.8rem;
                line-height: 1.8rem;
                color: #333;
                font-size: 1.6rem;
                .stars {
                    font-size: 1rem;
                }
            }
            .ul {
                margin-left: 1.3rem;
                margin-top: 1.5rem;
                width: 100%;
                padding-right: 1.4rem;
                float: left;
                clear: both;
                box-sizing: border-box;
                border-bottom: .0625rem solid #EEEEEE;
                margin-top: 0.5rem;
                line-height: 1rem;
                .li {
                    position: relative;
                    list-style: none;
                    float: left;
                    width: 100%;
                    height: 3.2rem;
                    clear: both;
                    box-sizing: border-box;
                    border-bottom: 1px solid #EEEEEE;
                    margin-top: .8rem;
                    .span{
                       display: inline-block;
                       width:15%;
                       height:3.2rem;
                       font-size: 1.4rem;
                       float: left;
                       line-height: 3.2rem;
                       .star{
                           color:red;
                       }
                    }
                    .selsct-li {
                        width: 95%;
                        float: left;
                        line-height: 1rem;
                    }
                    .sjx {
                        width: 4%;
                        height: 3.4rem;
                        float: right;
                        margin-right: 0.2rem;
                        line-height: 3rem;
                        img {
                            display: inline-block;
                            width: 10px;
                            height: 7px;
                        }
                    }

                    .list {
                        height: 3.2rem;
                        line-height: 3.2rem;
                        display: inline-block;
                        width: 100%;
                        .star {
                            font-size: 1.5rem;
                            color: red;
                        }
                        .overflow {
                            width: 50%;
                            float: right;
                            height: 100%;
                            text-align: right;
                        }
                    }
                    .list span {
                        display: inline-block;
                        height: 3.2rem;
                        line-height: 3.2rem;
                        color: #2A2A2A;
                        font-size: 1.4rem;
                    }
                    .list input {
                        height: 3.1rem;
                        line-height: 3.1rem;
                        float: right;
                        text-align: right;
                        width: 60%;
                        border: 0;
                        color: #666666;
                    }
                    .list .m {
                        color: #757575;
                    }
                    .list .sjx {
                        width: 4%;
                        height: 3.4rem;
                        float: right;
                        margin-right: 0.2rem;
                        line-height: 3rem;
                        img {
                            display: inline-block;
                            width: 10px;
                            height: 7px;
                        }
                    }
                    .list .select {
                        line-height: 3.2rem;
                        float: right;
                        width: 50%;
                        border: 0;
                        color: #666666;
                        background: white;
                        border: 0;
                        text-align: right;
                        border-radius: 0;
                        margin-top: -.2rem;
                        margin-right: -1.3rem;
                        background-color: transparent !important;
                        border-color: transparent !important;
                        -webkit-appearance: none;
                        /*去除系统默认的样式*/
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        /* 点击高亮的颜色*/
                    }
                    .item-block {
                        height: 3.2rem;
                        border-bottom: 1px solid #EEEEEE;
                    }
                    .datetime-text {
                        line-height: 1.5;
                    }
                    .select-text {
                        line-height: 2.2rem;
                    }
                    .list img {
                        vertical-align: middle;
                    }
                    ion-label {
                        color: #2A2A2A;
                    }
                    .item-inner {
                        height: 3.4rem;
                    }
                    .item-block {
                        padding-left: 0;
                        font-size: 1.4rem;
                        width: 95%;
                        color: #757575;
                        line-height: 1.5rem;
                        height: 3.2rem;
                        .item-inner {
                            padding-right: 0;
                            border-bottom: 0;
                        }
                    }
                    .opacity{
                        opacity: 0;
                    }
                     .datetime {
                        padding: 0;
                    }
                }
                .list .many {
                    display: inline-block;
                    img {
                        position: absolute;
                        top: 1.0rem;
                        right: 0;
                        width: .7rem;
                        height: .9rem;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        .two {
            margin-bottom: 8.9rem;
        }
    }
}