<!--
  Generated template for the ShoppingCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<my-nav [title]="title" [type]="'shopping-cart'" [showHead]="showUserImg" [showMenu]="showMenu" (cartClick)="cart()" (chatbubblesClick)="chatbubbles()" (settingsClick)="settings()"></my-nav>
</ion-header>


<ion-content>
    <div class="top">
        <div class="left">
            <ion-checkbox [(ngModel)]="allChecked" (click)="selects()"> </ion-checkbox>
            <span>全选</span>
        </div>
        <div class="right" *ngIf="shows" (click)="edit()">编辑</div>
        <div class="right" *ngIf="hide" (click)="update()">完成</div>
    </div>

    <!-- 下拉刷新 -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>


    <ion-list class="mid">
        <div *ngFor="let i of lists;let x = index">
            <span class="span">{{i.customerName}}</span>
            <ion-item-sliding  *ngFor="let item of i.list;let y = index">
                <ion-item class="dl">
                    <ion-checkbox [(ngModel)]="item.checked" color="#E97213" (click)="selectProduct()"></ion-checkbox>
                    <ion-label class="dt">
                        <img src="{{item.url}}" alt="">
                        <div class="msg">
                            <span class="title">{{item.productSimplifyName}}
                                <br>
                                <span class="red"> ¥{{item.stringMoney}}</span>                           
                            </span>
                            <p *ngIf="shows"> 
                                x<span>{{item.counts}}</span><br>
                                 <span style="display:inline-block;margin-top:0.2rem"> ({{item.maxStock}})</span>
                            </p>
                            <div *ngIf="hide" class="num-box">
                                <ion-icon class="reduce" (click)="reduce(x,y)" name="remove-circle"></ion-icon>
                                <span class="num">{{item.counts}}</span>
                                <ion-icon class="add" (click)="add(x,y)" name="add-circle"></ion-icon>
                            </div>
                        </div>
                    </ion-label>
                </ion-item>
                <ion-item-options>
                    <button class="button" danger (click)="delete(item.id)">删除</button>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="loadMore">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <div class="btm" (click)="addCustomer()">
        <div>客户：
            <span class="client" *ngFor="let item of newLists">{{item.username}}</span>
        </div>
        <div>手机号：
            <span class="phoneNumber" *ngFor="let item of newLists">{{item.tel}}</span>
        </div>
    </div>

</ion-content>
<ion-footer>
    <div class="box">
        <div class="count">合计：<span>¥{{tol}}</span></div>
        <button (click)="downList()" *ngIf="ds">下单</button>
        <button (click)="downLists()" *ngIf="dw">下单</button>
    </div>
</ion-footer>